body {
    background-color: black;
}

div {
    width: 50%;
    margin-left: 25%;
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

img {
    height: 100%;
    width: 100%;
    border: 5px solid white;
}